<h1> Image searching app</h1>

<form action="/search" method="post">
    <input type="text" name="term" placeholder="Search for...">
    <button>Submit!</button>
</form>

<a href="/previous">Previous searches..</a>